{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block content %}
<div class="col-sm-6 col-md-4 col-ld-3">
    {% for blog in blogs %}
    <article>
        <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
        <p>发表于{{ blog.created_at|datetime }}</p>
        <p>{{ blog.summary }}</p>
        <p><a href="/blog/{{ blog.id }}">继续阅读<i class=""></i></a></p>
    </article>
    {% endfor %}
</div>
<div class="col-sm-4 col-md-3 col-ld-2 pull-right">
    <div class="menu-panel panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">友情链接</div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                </ul>
            </div>
            <div class="panel-footer">
                <div>
                    
                </div>
            </div>
        </div>
</div>
{% endblock %}