{% extends '__base__.html' %}

{% block title %}注册{% endblock %}

{% block beforehead %}
<script>
function validateEmail(email){
    var re = /^[a-zA-Z0-9\.\-\_]+\@[a-zA-Z0-9\-\_]+(\.[a-zA-Z0-9\-\_]+){1,4}$/;
    return re.test(email)
}
$(document).ready(function(){
    var vm = new Vue({
        el: '#register-form',
        data: {
            name: '',
            email: '',
            password: '',
            confirmPassword: ''
        },
        methods: {
            submit: function(event){
                event.preventDefault();
                var $form = $('#register-form');
                if(! this.name.trim()){
                    return $form.showFormError('请输入名字');
                }
                if(! validateEmail(this.email.trim())){
                    return $form.showFormError('请输入正确的Email地址');
                }
                if(this.password.length < 6){
                    return $form.showFormError('口令长度至少为6个字符');
                }
                if(this.password !== this.confirmPassword){
                    return $form.showFormError('两次输入的口令不一致');
                }
                var email = this.email.trim();
                $form.postJSON('/api/users', {
                    name: this.name.trim(),
                    email: email,
                    passwd: CryptoJS.SHA1(email + ':' + this.password).toString()
                }, function(err, r){
                    if(err){
                        return $form.showFormError(err);
                    }
                    return localtion.assign('/');
                });
            }
        }
    });
    $('register-form').show();
});
</script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>欢迎注册！</h1>
    <div class="hr-line-dashed"></div>
    <form id="register-form" v-on="submit: submit" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">名字</label>
            <div class="col-sm-6">
                <input class="form-control" autocomplete="off" v-model="name" type="text" maxlength="50" placeholder="名字" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6">
                <input class="form-control" v-model="name" type="text" maxlength="50" placeholder="example@example.com" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">口令</label>
            <div class="col-sm-6">
                <input class="form-control" v-model="password" type="password" maxlength="50" placeholder="口令" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">重复口令</label>
            <div class="col-sm-6">
                <input class="form-control" v-model="confirmPassword" type="password" maxlength="50" placeholder="口令" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <input type="reset" class="btn btn-default" value="重置">
                <button type="submit" class="btn btn-primary"><i></i>注册</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}